@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoonb9f2.eot?q050x2');
  src:  url('../fonts/icomoonb9f2.eot?q050x2#iefix') format('embedded-opentype'),
    url('../fonts/icomoonb9f2.ttf?q050x2') format('truetype'),
    url('../fonts/icomoonb9f2.woff?q050x2') format('woff'),
    url('../fonts/icomoonb9f2.svg?q050x2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-contains-nuts:before {
  content: "\e903";
}
.icon-contains-seasme:before {
  content: "\e904";
}
.icon-dish:before {
  content: "\e905";
}
.icon-down-arrow:before {
  content: "\e906";
}
.icon-down-arrow-1:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-guest:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-lady-dancer:before {
  content: "\e90c";
}
.icon-left-arrow:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-request:before {
  content: "\e911";
}
.icon-right-arrow:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-signature:before {
  content: "\e914";
}
.icon-spicy:before {
  content: "\e915";
}
.icon-user-edit:before {
  content: "\e916";
}
.icon-vegetarian:before {
  content: "\e917";
}
.icon-whatsapp:before {
  content: "\e918";
}
.icon-zalo:before {
  content: "\e919";
}
.icon-up-arrow1:before {
  content: "\e929";
}
.icon-search1:before {
  content: "\e923";
  /* color: #0060b9; */
}
